@font-face {
    font-family: "Arcade";
    src: url("../fonts/arcade/ARCADE.TTF");
}

@font-face {
    font-family: "AstronBoy";
    src: url("../fonts/astron-boy/astron\ boy.ttf");
}

@font-face {
    font-family: "Aurora";
    src: url("../fonts/aurora/aurora.ttf");
}

@font-face {
    font-family: "Neuropol";
    src: url("../fonts/neuropol-x-free/neuropol\ x\ rg.ttf");
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Neuropol";
    font-size: 1.6rem;
    line-height: 1.7;
    color: rgb(35, 51, 85);
    padding: 3rem;
    box-sizing: border-box;
    /*background-image: url("../img/bg9.jpg");*/
}

#mainWrapper {
    display: grid;
    grid-template-columns: 30rem auto;
    margin-left: "25px";
}

#left-pane {
    margin-top: 2rem;
    width: 100%
}

#gameWindow {
    cursor: none;
}

#btn-wrapper {
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
}

.btn {
    background-color: cornflowerblue;
    border: none;
    color: white;
    padding: .7rem 2.5rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 2rem;
}

.btn:hover {
    background-color: teal;
}

#score-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#score {
    text-align: right;
    margin-right: 1.5rem;
}

#combo {
    text-align: right;
    margin-right: 1.5rem;
}

#blinking-text {
    animation: blinkingText 1.2s infinite;
    margin-left: 2.5rem;
    display: none;
}

@keyframes blinkingText {
    0% {
        color: #eb4f34;
    }
    49% {
        color: #eb4f34;
    }
    60% {
        color: transparent;
    }
    99% {
        color: transparent;
    }
    100% {
        color: #eb4f34;
    }
}

@keyframes enlargeText {
    0% {
        font-size: 1.65rem;
    }
    49% {
        font-size: 1.8rem;
    }
    60% {
        font-size: 1.75rem;
    }
    99% {
        font-size: 1.65rem;
    }
    100% {
        font-size: 1.6rem;
    }
}